.skills {
  background: $darkBlue;
  color: $white;
  padding: 64px 16px 88px;
  &__content {
    @media (min-width: $desktop) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 1184px;
      margin: 0 auto;
    }
  }
  &__header {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: $white;
    @media (min-width: $desktop) {
      font-size: 48px;
      line-height: 56px;
    }
  }
}

.skills-list {
  color: $white;
  width: 264px;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
  &__item {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    padding: 0 0 0 24px;
    margin: 0 0 16px;
    position: relative;
    &--news {
      color: rgb(255, 193, 77);
font-weight: 600;
    }
    &::before {
      position: absolute;
      left: 0;
      top: 8px;
      content: "";
      width: 8px;
      height: 8px;
      background: $lightBlue;
      .skills-list--full & {
        background: $darkGray;
      }
      .skills-list--half & {
        background: $text;
      }
      display: block;
      border-radius: 8px;
      border: 1px solid $white;
    }
  }
}

.skills-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 64px;

  &__header {
    font-weight: bold;
    font-size: 24px;
    line-height: 44px;
    text-align: center;
    margin: 16px 0 24px;
  }
  &__picture {
    width: 90px;
    height: 90px;
  }
}
