$brighterBlue: #dbeaf7;
$darkBlue: #1070ca;
$darkGray: #1e1e1e;
$gray: #212528;
$grayRoboto: #808082;
$lightGray: #464a4d;
$lightGrayRoboto: #a3a3a3;
$blueRoboto: #14b5d0;
$lightBlue: #4da8ff;
$text: #425a70;
$textDark: #234361;
$white: #ffffff;

$tablet: 768px;
$desktop: 960px;
